# ignore PowerShell Studio files
*TempPoint*
*.pssproj

# ignore the settings folder and files for VSCode
.vscode/*
*.psproj
*.psproj.psbuild
*.psprojs

# ignore library
library/PSFramework/obj/*
library/PSFramework/*.user
library/PSFramework/bin/*
library/.vs/PSFramework/v15/.suo
library/.vs/PSFramework/v15/server/*