
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/.vs/*
library/PSFramework/bin/*
library/PSFramework/obj/*

# ignore PowerShell Studio MetaData
PSFramework/PSFramework.psproj
PSFramework/PSFramework.psproj.bak
PSFramework/PSFramework.psprojs
PSFramework/PSFramework.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*